@charset "UTF-8";

/* CSS Document */

.placeholder {
    border: 3px solid grey;
    background-color: #D2D0D0;
    display: block;
    text-align: center;
    width: 600px;
}

.placeholder h4 {
    margin: 0 auto;
    line-height: 300px;
}

.heatmap {
    height: 32em;
}

.seating-chart {
    margin-top: 2em;
    width: 600px;
}

.democrat-rect {
    width: 25px;
    height: 40px;
    margin: .12em .12em;
    border: 1px solid black;
    background-color: #3045C4;
    float: left;
    position: relative;
}

.democrat-rect-group {
    float: none;
    pading: 0 auto;
    margin: 0 auto;
}

.republican-rect {
    width: 25px;
    height: 40px;
    margin: .12em .12em;
    border: 1px solid black;
    background-color: #D80206;
    float: left;
    position: relative;
}

.republican-rect-group {
    float: none;
    pading: 0 auto;
    margin: 0 auto;
}

.extra_block {
    width: 2em;
    height: 2em;
    border: 1px solid black;
    background-color: #9C9B9B;
    float: left;
    position: relative;
}

.seating-chart rect:hover {
    opacity: .6;
    border: 10px solid #A19C9C;
}

.independent {
    fill: #AAAAAA;
}

.treemap {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    margin: auto;
    position: relative;
    float: right;
}

#main {
    float: left;
    width: 600px;
}

.node {
    border: solid 1px white;
    font: 10px sans-serif;
    line-height: 12px;
    overflow: hidden;
    position: absolute;
    text-indent: 2px;
}